.dark-modal .modal-content {
    background-color: #333;
    color: #fff;
  }
  
  .dark-modal .modal-header,
  .dark-modal .modal-footer {
    background-color: #222;
  }
  
  .dark-modal .modal-header .modal-title {
    color: #fff;
  }
  .custom-modal-header .custom-close-button {
    color: red;
  }